In [406]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [407]:
loan_data_train=pd.read_csv('loan-train.csv')

Cleaning data

In [408]:
loan_data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [409]:
loan_data_train.isna()
loan_data_train.dropna(inplace=True)

In [410]:
loan_data_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

Removing unused data

In [411]:
loan_data_train.drop(columns=['Loan_ID'],inplace=True)

In [412]:
loan_data_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [413]:
loan_data_train=pd.get_dummies(loan_data_train,columns=['Gender','Dependents','Married','Education','Self_Employed','Property_Area'],dtype=int)
loan_data_train
# loan_data_train['Dependents'].count()loan_data_test
# loan_data_train[loan_data_train['Dependents']=='3+'].count()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Dependents_0,Dependents_1,...,Dependents_3+,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,4583,1508.0,128.0,360.0,1.0,N,0,1,0,1,...,0,0,1,1,0,1,0,1,0,0
2,3000,0.0,66.0,360.0,1.0,Y,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
3,2583,2358.0,120.0,360.0,1.0,Y,0,1,1,0,...,0,0,1,0,1,1,0,0,0,1
4,6000,0.0,141.0,360.0,1.0,Y,0,1,1,0,...,0,1,0,1,0,1,0,0,0,1
5,5417,4196.0,267.0,360.0,1.0,Y,0,1,0,0,...,0,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0,Y,1,0,1,0,...,0,1,0,1,0,1,0,1,0,0
610,4106,0.0,40.0,180.0,1.0,Y,0,1,0,0,...,1,0,1,1,0,1,0,1,0,0
611,8072,240.0,253.0,360.0,1.0,Y,0,1,0,1,...,0,0,1,1,0,1,0,0,0,1
612,7583,0.0,187.0,360.0,1.0,Y,0,1,0,0,...,0,0,1,1,0,1,0,0,0,1
613,4583,0.0,133.0,360.0,0.0,N,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0

In [414]:
loan_data_train_Y=(loan_data_train['Loan_Status'])
loan_data_train_X=(loan_data_train.drop('Loan_Status',axis=1))
loan_data_train_Y=loan_data_train_Y.apply(lambda x: 1 if x=='Y' else 0)

Logistic regression

In [415]:
loan_data_train,loan_data_test,loan_data_train_Y,loan_data_test_Y=train_test_split(loan_data_train_X,loan_data_train_Y,test_size=0.2,random_state=10)

In [416]:
logistic_model=LogisticRegression(random_state=10)

In [417]:
logistic_model.fit(loan_data_train,loan_data_train_Y)

LogisticRegression(random_state=10)

In [418]:
prediction=logistic_model.predict(loan_data_test)

In [420]:
report=classification_report(loan_data_test_Y,prediction)
print(report)

              precision    recall  f1-score   support

           0       1.00      0.34      0.51        29
           1       0.78      1.00      0.88        67

    accuracy                           0.80        96
   macro avg       0.89      0.67      0.69        96
weighted avg       0.85      0.80      0.77        96

In [421]:
confusion_matrix(loan_data_test_Y,prediction)

array([[10, 19],
       [ 0, 67]])